<!-- Data binding example -->

<!DOCTYPE html>
<!-- Data Binding stuff. You must declare that it is going to be an application.
  You must type in ng-app.-->
<html ng-app="directoryApp" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular.min.js"
      ;
    ></script>
    <script src="directory.js"></script>
    <title>Angular ¯\_(ツ)_/¯</title>
  </head>
  <!-- ng-init allows you to initialize some data when the template is loaded. 
  -->
  <body ng-controller="directoryController">
    <!-- Filtering going on here -->
    <input type="text" ng-model="search" />
    <ul>
      <li ng-repeat="item in list | filter:search">
        {{item.name}} - <em>{{item.age}}</em>
      </li>
    </ul>
    <!-- "Ng" is the stock directive for angular. This particular directive is used
    to store some data.  -->
  </body>
</html>
